body{
    background-color: #2288ff;
    color: #ffff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #34495E;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    max-width: 600px;
    padding: 40px;
}

.result{
    padding: 50px 0;
    display: flex;
    justify-content: center;    

}
#element{
    height: 120px;
    width: 120px;
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slider-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="range"]{
    width: 100%;
}

.code-wrapper{
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 5px;
    margin-top: 20px;
}

textarea{
    resize: none;
    padding: 5px;
    border: 2px solid rgb(14, 13, 13);
    border-radius: 5px;
}

.code-wrapper button{
    background-color: #2288ff;
    border: none;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
    padding: 10px;
}